body{
    background-color: rgb(203, 243, 215);
}
.text-center{
    text-align: center;
    font-size: 42px;
    margin-top: 40px;
    color:  rgb(7, 64, 24);

}
.search{
    display: block;
    margin: 0 auto;
    font-size: 22px;
    padding: 6px 25px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
    border:1px solid  rgb(56, 240, 111);
}
.contactcard-container{
    height: 400px;
    overflow-y:scroll;

}
.contactcard-container::-webkit-scrollbar{
    width: 5px;

}
